* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  color: #080708;
  background-color: #E6E8E6;
}

ul li {
  list-style: none;
}

li {
  border: 1px solid #080708;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}